[submodule "WhatWeb"]
	path = WhatWeb
	url = git://github.com/urbanadventurer/WhatWeb.git
[submodule "the_silver_searcher"]
	path = the_silver_searcher
	url = git://github.com/ggreer/the_silver_searcher.git
[submodule "ack.vim"]
	path = ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-css-color"]
	path = vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "pow"]
	path = pow
	url = git://github.com/37signals/pow.git
[submodule "yolk"]
	path = yolk
	url = git://github.com/cakebread/yolk.git
[submodule "pry"]
	path = pry
	url = git://github.com/pry/pry.git
[submodule "povray"]
	path = povray
	url = git://github.com/lpireyn/povray.git
[submodule "MongoHub-Mac"]
	path = MongoHub-Mac
	url = git://github.com/bububa/MongoHub-Mac.git
[submodule "phantomjs"]
	path = phantomjs
	url = git://github.com/ariya/phantomjs.git
[submodule "phantomjs-screenshots"]
	path = phantomjs-screenshots
	url = git://github.com/hggh/phantomjs-screenshots.git
[submodule "TimelineJS"]
	path = TimelineJS
	url = git://github.com/VeriteCo/TimelineJS.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "pouchdb"]
	path = pouchdb
	url = git://github.com/daleharvey/pouchdb.git
[submodule "omnigraffle-export"]
	path = omnigraffle-export
	url = git://github.com/fikovnik/omnigraffle-export.git
[submodule "slodown"]
	path = slodown
	url = git://github.com/hmans/slodown.git
[submodule "angularjs_scaffold"]
	path = angularjs_scaffold
	url = git://github.com/patcito/angularjs_scaffold.git
[submodule "selfstarter"]
	path = selfstarter
	url = git://github.com/lockitron/selfstarter.git
[submodule "kandan"]
	path = kandan
	url = git://github.com/cloudfuji/kandan.git
[submodule "vie-annotation-bookmarklet"]
	path = vie-annotation-bookmarklet
	url = git://github.com/szabyg/vie-annotation-bookmarklet.git
[submodule "ruby-warrior"]
	path = ruby-warrior
	url = git://github.com/ryanb/ruby-warrior.git
[submodule "vim-ruby-minitest"]
	path = vim-ruby-minitest
	url = git://github.com/sunaku/vim-ruby-minitest.git
[submodule "minitest"]
	path = minitest
	url = git://github.com/seattlerb/minitest.git
[submodule "em-mongo"]
	path = em-mongo
	url = git://github.com/bcg/em-mongo.git
[submodule "goliath"]
	path = goliath
	url = git://github.com/postrank-labs/goliath.git
[submodule "cramp"]
	path = cramp
	url = git://github.com/lifo/cramp.git
[submodule "juvia"]
	path = juvia
	url = git@github.com:campeterson/juvia.git
[submodule "hipchat-adium-message-style"]
	path = hipchat-adium-message-style
	url = git://github.com/schisamo/hipchat-adium-message-style.git
[submodule "jquery-collagePlus"]
	path = jquery-collagePlus
	url = git://github.com/ed-lea/jquery-collagePlus.git
[submodule "jquery-waypoints"]
	path = jquery-waypoints
	url = git://github.com/imakewebthings/jquery-waypoints.git
[submodule "deck.js"]
	path = deck.js
	url = git://github.com/imakewebthings/deck.js.git
[submodule "deck2pdf"]
	path = deck2pdf
	url = https://github.com/imakewebthings/deck2pdf
